
// $backgroud-color: #fff;
$border-color: #e5e5e5;
// $border-color: #e20011;
$username-weight: normal;
$username-size: 25rpx;
$username-color: #999;

$nickname-size: 35rpx;

$header-min-height: 369rpx;
$border-height: 4rpx;

$title-weight: bold;


.settings-bar {
	display: flex;
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
}

.settings-bar__haed {
	position: absolute;
	display: block;
	min-height: $header-min-height;
	// justify-content: center;
	// align-items: center;
	margin-left: 20rpx;
	margin-right: 20rpx;
	background-color: $uni-bg-color;
}
	
.settings-bar__haed__user-info {
	position: absolute;
	top: 80rpx;
}

.settings-bar__user-avator {
	display: flex;
	border-radius: 50%;
	width: 120rpx;
	height: 120rpx;
	margin-bottom: 60rpx;
}

.settings-bar__user-text{
	margin-top: 15rpx;
}

.settings-bar__user-text__nickname {
	font-size: $nickname-size;
}

.settings-bar__user-text__username {
	color: $username-color;
	font-size: $username-size;
	font-weight: $username-weight;
	overflow: hidden;
}

.settings-bar--border {
		// position: absolute;
		// bottom: 0;
		// right: 0;
		// left: 0;
		height: $border-height;
		-webkit-transform: scaleY(0.5);
		transform: scaleY(0.5);
		background-color: $border-color;
	}

.settings-bar__lower-part {
	display: flex;
	position: absolute;
	top: $header-min-height+$border-height;
	left: 0;
	right: 0;
	bottom: 0;
	background-color: #fff;
	// min-height: 300rpx;
}


